/* General container styling */
.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  /* Calendar styling */
  .react-calendar {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 10px;
    max-width: 600px;
    width: 100%;
  }
  
  .react-calendar__tile {
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .react-calendar__tile:hover {
    background-color: #f0f0f0;
  }
  
  .event-tile {
    background-color: #e0f7fa;
    border: 1px solid #4dd0e1;
  }
  
  .react-calendar__month-view__days__day--weekend {
    color: #ff5722;
  }
  
  .react-calendar__tile--active {
    background-color: #00796b;
    color: white;
  }
  
  /* Tooltip styling */
  .tooltip-container {
    position: absolute;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .tooltip-container::after {
    content: '';
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Ensure tooltip position adjustment */
  .react-tooltip {
    z-index: 1000;
  }
  .chart-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #013879;
  }