/* Dashboard.css */
.custom-tabs .ant-tabs-nav {
  background: #ffffff;
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 16px;
}

.custom-tabs .ant-tabs-tab {
  padding: 10px 20px;
  margin-right: 4px;
  border: 1px solid #d9d9d9;
  border-radius: 8px 8px 0 0;
  background-color: #f9f9f9;
  font-weight: 500;
  color: #333;
  transition: all 0.3s;
}

.custom-tabs .ant-tabs-tab:hover {
  background-color: #e6f7ff;
  color: #1890ff;
}

.custom-tabs .ant-tabs-tab-active {
  background-color: #013879 !important;
  color: #ffffff !important;
  border-color: #013879 #013879 transparent;
}

.custom-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ffffff !important;
  font-weight: 600;
}

.custom-tabs .ant-tabs-ink-bar {
  background: transparent;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.me-2 {
  margin-right: 0.5rem;
}
.fw-semibold {
  font-weight: 500;
}
