g.custom-cursor-on-hover {
    display: none !important;
}
g[transform="translate(18,372.68)"] {
    display: none !important;
  }
g[transform="translate(18,472.68)"] {
    display: none !important;
  }

.reg_dashboard_box{
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #EAECF0;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
    /* display: flex; */
    padding: 24px;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    gap: 24px;
    /* flex: 1 0 0 1; */
    margin-bottom: 20px;
}
.chart-container {
  width: 90%;
  margin: 0 auto;
  height: 98%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chart-heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #013879;
}
.chart-container {
  width: 100%;
  margin: 0 auto;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-item {
  flex: 1 1 200px; /* Responsive flex sizing */
  display: flex;
  flex-direction: column;
}

.filter-item label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.filter-item input,
.filter-item select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.chart-wrapper {
  width: 100%;
  height: 400px;
}


/* .filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
} */

/* .filter-item {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
} */

/* .filter-item label {
  font-size: 16px;
  margin-bottom: 5px;
}

.filter-item select {
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.chart-wrapper {
  width: 100%;
  height: 400px;
}
 */

