.pf-container {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;
  border: 2px solid rgb(126, 126, 126);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-width: 95%;
  width: 90vw;
  /* Adjusts to screen width dynamically */
  margin: 20px auto;
  /* Centers container */
  overflow-x: auto;
  /* Adds scroll if content overflows */
}


.pf-header {
  color: #013879;
  /* font-weight: bold; */
  font-size: 22px;
  margin-bottom: 16px;
}

.pf-filter-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 20px;
}

.pf-filter-row .form-select,
.pf-filter-row .ant-picker-range {
  border-radius: 6px;
  border: 1px solid #ccc;
}

.pf-stats-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 12px 20px;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
}

.pf-stat {
  font-size: 16px;
  color: #013879;
}

.pf-table .ant-table-thead>tr>th {
  background-color: #013879;
  color: white;
  font-weight: 600;
}

.pf-table .ant-table-row {
  background-color: #ffffff;
}

.pf-table .ant-btn {
  border-radius: 4px;
}