.dashboard-container {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .dashboard-header {
    margin-bottom: 20px;
  }
  
  .chart-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #013879;
  }
  
  .dashboard-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .filters-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .filter-group {
    display: flex;
    flex-direction: column;
    width: 45%;
  }
  
  .filter-label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .filter-select {
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #f1f1f1;
  }
  
  .data-section {
    margin-top: 20px;
  }
  
  .loading-indicator {
    text-align: center;
    font-size: 18px;
    color: #007bff;
  }
  
  .error-message {
    color: red;
    text-align: center;
    font-size: 16px;
  }
  
  .table-wrapper {
    overflow-x: auto;
  }
  
  .data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .data-table th,
  .data-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .data-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .data-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .data-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .summary-row {
    background-color: #f5f5f5; /* Light grey background for distinction */
    font-weight: bold; /* Bold font for emphasis */
    text-align: center !important; /* Center-align the text */
    align-items: center !important; /* Center-align the text */
    border-top: 2px solid #d9d9d9; /* Top border to separate it from the table */
  }
  
  .summary-row td {
    padding: 8px; /* Padding for cells */
    color: #333; /* Text color */
    
  }
  
  /* Smooth transition for column hover effect */
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  transition: all 0.3s ease; /* Smooth transition */
}

/* Increase width of the column on hover */
.increase-width {
  width: 200px !important; /* Increase width on hover */
  background-color: #f0f0f0; /* Optional: background color on hover */
}


/* region.css */

/* Style for cells that are clickable */
.clickable-cell {
  cursor: pointer;
  color: black;
  transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Hover effect for cells */
.clickable-cell:hover {
  background-color: #e6f7ff; /* Light blue background on hover */
}
