.align-top-cell {
    vertical-align: top !important;
    /* padding-top: 50px !important; */
  }
  .ant-btn  {
    width: 100% !important;
  }
  .but-class{
    width: 125px !important;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }