.fixed-checklist {
    margin-top: 20px;
    font-family: Arial, sans-serif;
  }
  
  .checklist-section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .checklist-section h4 {
    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: bold;
    color: #333;
  }
  
  .checklist-section ol {
    padding-left: 20px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .checklist-section ol li {
    margin-bottom: 8px;
  }
  
  .checklist-section ol li ol {
    padding-left: 20px;
  }
  
  .checklist-section ol li ol li {
    margin-bottom: 6px;
    list-style-type: square;
  }
  
  .checklist-section li {
    font-size: 1em;
    color: #333;
  }


  .ant-select-dropdown {
    z-index: 1051 !important; /* Ensure it's above the modal */
  }
  
  